{% extends 'blog/layout.html' %}
{% block title %}{{block.super}} | Blog |Add Blog {% endblock%}
{% block body %}

<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <h1 class="text-center">Add Blog</h1>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-md-12">
        <form action="process_blog" method="POST">
            {% csrf_token %}
            {{add_blog.as_p}}
            <input type="submit" class="btn btn-primary" value="Submit">
        </form>
    </div>
</div>



{% endblock %}